absl-py==1.4.0
accelerate==0.12.0
addict==2.4.0
aenum==3.1.11
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.8
altair==4.2.2
amaranth @ git+https://github.com/amaranth-lang/amaranth@5f6b36e91f44c43bd7073fc94be239e795a12128
amaranth-yosys==0.25.0.0.post70
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.3.3
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
Automat==22.10.0
autoran==0.0.1
Babel==2.13.1
backcall==0.2.0
backports.zoneinfo==0.2.1
basicsr==1.4.2
bcrypt==3.1.7
beautifulsoup4==4.8.2
big-sleep==0.9.1
bitarray==2.8.0
bleach==6.0.0
blendmodes==2022
blinker==1.4
boltons==23.0.0
boto3==1.26.75
botocore==1.29.75
branca==0.6.0
Brlapi==0.7.0
build==0.10.0
bypy==1.8.2
CacheControl==0.12.11
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.0.1
chrome-gnome-shell==0.0.0
clean-fid==0.1.29
cleo==2.0.1
click==8.1.3
click-plugins==1.1.1
clip==0.2.0
cmake==3.27.0
cocos2d==0.6.9
cocotb==1.7.2
cocotb-bus==0.2.1
cocotb-test==0.2.4
cocotbext-axi==0.1.20
cocotbext-eth==0.1.20
cocotbext-pcie==0.2.12
colorama==0.4.6
comm==0.1.3
command-not-found==0.3
common==0.1.2
commonmark==0.9.1
constantly==15.1.0
contourpy==1.0.7
crashtest==0.4.1
crcmod==1.7
cryptography==36.0.2
cupshelpers==1.0
curl-cffi==0.5.5
cycler==0.11.0
Cython==0.29.35
dataclasses-json==0.5.7
dbus-python==1.2.16
debugpy==1.6.6
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.6
distlib==0.3.7
distro==1.8.0
distro-info==0.23+ubuntu1.1
docker==6.0.1
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.18.1
duckduckgo-search==2.8.5
dulwich==0.21.3
duplicity==0.8.12.0
edalize==0.4.1
einops==0.4.1
entrypoints==0.3
exceptiongroup==1.1.0
execnet==1.9.0
executing==1.2.0
fabric==3.0.0
facexlib==0.2.5
fake-useragent==1.1.3
fastapi==0.90.1
fasteners==0.14.1
fastjsonschema==2.16.3
ffmpy==0.3.0
filelock==3.12.2
filterpy==1.4.5
find-libpython==0.3.0
fire==0.5.0
folium==0.14.0
font-roboto==0.0.1
fonts==0.0.3
fonttools==4.38.0
freetype-py==2.4.0
frozendict==2.3.6
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
future==0.18.3
gdown==4.6.4
geographiclib==2.0
geopy==2.4.0
gfpgan==1.3.8
gitdb==4.0.10
gitdb2==2.0.6
GitPython==3.1.27
glfw==2.6.0
gmplot==1.4.1
google-auth==2.16.1
google-auth-oauthlib==0.4.6
gps==3.20
gradio==3.16.2
greenlet==2.0.2
grpcio==1.51.1
h11==0.12.0
hsluv==5.0.4
html5lib==1.0.1
httpcore==0.15.0
httplib2==0.14.0
httpx==0.23.3
huggingface-hub==0.12.1
hyperlink==21.0.0
idna==2.8
imageio==2.25.1
imagesize==1.4.1
imgui==2.0.0
importlib-metadata==6.0.0
importlib-resources==5.10.2
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
invoke==2.0.0
ipykernel==6.22.0
ipython==8.11.0
ipython-genutils==0.2.0
-e git+https://github.com/mkrphys/ipython-tikzmagic.git@f9357cc86ea5848947f3d189ee736031bb64890d#egg=ipython_tikzmagic
ipywidgets==8.0.5
isort==4.3.4
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
jsonmerge==1.8.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.6
kas==3.2.2
kazam==1.4.5
kconfiglib==14.1.0
keyboard==0.13.5
keyring==23.13.1
kiwisolver==1.4.4
komm==0.7.4
kornia==0.6.7
langchain==0.0.121
language-selector==0.1
lark==1.1.2
latex2mathml==3.75.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
linecache2==1.0.0
linkify-it-py==1.0.3
-e git+https://github.com/enjoy-digital/litedram.git@6c8df7cc7be2f88e2d78d6282ada4213918de477#egg=litedram
-e git+https://github.com/enjoy-digital/liteeth.git@97dccdb294fa2081536f26f4ef6235c004007432#egg=liteeth
-e git+https://github.com/enjoy-digital/liteiclink.git@fb7ddcfe9f7d6d5e53a2281e9aa29ead4f3c2477#egg=liteiclink
-e git+https://github.com/enjoy-digital/litejesd204b.git@ec6bf782ed5298b59cecd210d09ff3e5b416da61#egg=litejesd204b
-e git+https://github.com/enjoy-digital/litepcie.git@8a23f2fadba62653280a8d186e32b18ba7658799#egg=litepcie
-e git+https://github.com/enjoy-digital/litesata.git@e222360cfcf9e26d6039eb04785fa50b1256a40e#egg=litesata
-e git+https://github.com/enjoy-digital/litescope.git@7105b474026383fff6e3c829e487b56754b6e380#egg=litescope
-e git+https://github.com/enjoy-digital/litesdcard.git@15955d88ad2390dfa46f4846f7fc22bd642738db#egg=litesdcard
-e git+https://github.com/litex-hub/litespi.git@63c815fe7c0c28b132a2407d836b7d8f80ea7a61#egg=litespi
-e git+https://github.com/enjoy-digital/litex.git@9addd529905d42b54e09c7abc064a7aca04e3036#egg=litex
-e git+https://github.com/litex-hub/litex-boards.git@549905bc38b6c8af23c0483260da88083a838d1d#egg=litex_boards
livereload==2.6.3
llama-index==0.4.36
llvmlite==0.39.1
lmdb==1.4.0
lockfile==0.12.2
logilab-common==1.4.3
loguru==0.6.0
louis==3.12.0
lpips==0.1.4
lxml==4.5.0
macaroonbakery==1.3.1
maia_hdl @ file:///home/wcc/sdr_opensource/maia-sdr/maia-hdl
Mako==1.1.0
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mccabe==0.6.1
mdit-py-plugins==0.3.3
mdtex2html==1.2.0
mdurl==0.1.2
meson==1.0.0
-e git+https://github.com/m-labs/migen.git@ccaee68e14d3636e1d8fb2e0864dd89b1b1f7384#egg=migen
mistune==2.0.5
ModulationPy==0.1.8
monotonic==1.5
more-itertools==4.2.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
names==0.3.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
nest-asyncio==1.5.6
netaddr==0.8.0
netifaces==0.10.4
networkx==3.0
ninja==1.11.1
nose==1.3.7
notebook==6.5.3
notebook_shim==0.2.2
numba==0.56.4
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.1.0
olefile==0.46
omegaconf==2.2.3
open-clip-torch==2.7.0
openai==0.27.2
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.68
orjson==3.8.6
outcome==1.2.0
packaging==23.0
paho-mqtt==1.6.1
pandas==2.0.3
pandocfilters==1.5.0
paramiko==2.6.0
parso==0.8.3
pbr==5.4.5
pdflatex==0.1.3
pexpect==4.8.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==9.4.0
pipreqs==0.4.13
pkginfo==1.9.6
pkgutil_resolve_name==1.3.10
platformdirs==3.9.1
plotly==5.15.0
pluggy==1.0.0
ply==3.11
poetry==1.4.1
poetry-core==1.5.2
poetry-plugin-export==1.3.0
progressbar==2.5
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyadi-iio==0.0.15
pyargus==1.1.post1
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pybind11==2.10.3
pybind11-global==2.10.3
pycairo==1.16.2
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.17
pycups==1.9.73
pydantic==1.10.5
pydeck==0.8.1b0
pyDeprecate==0.3.2
pydub==0.25.1
pygame==2.5.0
pygccxml==2.2.1
pyglet==1.5.27
Pygments==2.14.0
pygnssutils==1.0.5
PyGObject==3.36.0
pygpsclient==1.3.22
PyJWT==1.7.1
pylibiio==0.23.1
pylint==2.4.4
pymacaroons==0.13.0
pymavlink==2.4.40
Pympler==1.0.1
PyNaCl==1.3.0
pynmeagps==1.0.20
pyofdm==2.1
pyopencl==2022.3.1
PyOpenGL==3.1.6
pyparsing==3.0.9
PyPasser==0.0.5
pypcapfile==0.12.0
pypinyin==0.48.0
pyproject_api==1.5.0
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqtgraph==0.13.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyRFC3339==1.1
pyrsistent==0.19.3
pyrtcm==1.0.8
PySDL2==0.9.15
pyserial==3.5
pyshark==0.6
PySide6==6.2.4
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
PySocks==1.7.1
pyspartn==0.1.4
pytest==7.2.1
pytest-sugar==0.9.6
pytest-xdist==3.2.0
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-dotenv==0.21.1
python-json-logger==2.0.7
python-multipart==0.0.5
-e git+https://github.com/litex-hub/pythondata-cpu-lm32.git@594f2068e32a6faa84f05f9b443b58c3c4658113#egg=pythondata_cpu_lm32
-e git+https://github.com/litex-hub/pythondata-cpu-mor1kx.git@92628ec323dcce464185ad9e0f58a788c2be6989#egg=pythondata_cpu_mor1kx
-e git+https://github.com/litex-hub/pythondata-cpu-naxriscv.git@1124b408a4af609494ad4faa380e737948e8b74c#egg=pythondata_cpu_naxriscv
-e git+https://github.com/litex-hub/pythondata-cpu-serv.git@cdede3b5e35e0c8c385ff10d783905d95cd864ab#egg=pythondata_cpu_serv
-e git+https://github.com/litex-hub/pythondata-cpu-vexriscv.git@e75700dff2ab9662f3e26dd89ab59a5f6da65687#egg=pythondata_cpu_vexriscv
-e git+https://github.com/litex-hub/pythondata-cpu-vexriscv-smp.git@e8ce95bbff2742226e838a37a88e4153bd04178a#egg=pythondata_cpu_vexriscv_smp
-e git+https://github.com/litex-hub/pythondata-misc-tapcfg.git@fbcb02422940bbb97c492f0c970959d262b33632#egg=pythondata_misc_tapcfg
-e git+https://github.com/litex-hub/pythondata-misc-usb_ohci.git@1f9c77314d3b91fe3194245c3e3197a075803199#egg=pythondata_misc_usb_ohci
-e git+https://github.com/litex-hub/pythondata-software-compiler_rt.git@fcb03245613ccf3079cc833a701f13d0beaae09d#egg=pythondata_software_compiler_rt
-e git+https://github.com/litex-hub/pythondata-software-picolibc.git@a5e11229885a87083ec54034f8d693ba52ea2718#egg=pythondata_software_picolibc
pytools==2022.1.14
pytorch-lightning==1.7.6
pytorch-pretrained-biggan==0.1.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyubx2==1.2.22
pyvcd==0.3.0
PyWavelets==1.4.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.1
pyzmq==25.0.2
QSpectrumAnalyzer @ file:///home/wcc/sdr_opensource/qspectrumanalyzer
Qt.py==1.3.8
qtconsole==5.4.1
QtPy==2.3.0
rapidfuzz==2.13.7
realesrgan==0.3.0
recommonmark==0.7.1
regex==2022.10.31
reportlab==3.5.34
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
requests-unixsocket==0.2.0
resize-right==0.0.2
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.3.4
roman==2.0.0
rsa==4.9
ruamel.yaml==0.15.89
s3transfer==0.6.0
safetensors==0.2.7
scapy==2.5.0
scikit-commpy==0.8.0
scikit-image==0.19.2
scipy==1.10.1
SecretStorage==3.3.3
selenium==4.9.0
Send2Trash==1.8.0
sentencepiece==0.1.97
shellingham==1.5.0.post1
shiboken6==6.2.4
simplejson==3.16.0
SimpleSoapy==1.5.1
SimpleSpectral==1.0.0
sip==4.19.21
six==1.16.0
smmap==5.0.0
smmap2==2.0.5
sniffio==1.3.0
snowballstemmer==2.2.0
soapy-power==1.6.1
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==1.9.5
spdlog==2.0.4
SpeechRecognition==3.8.1
Sphinx==7.1.2
sphinx-autobuild==2021.3.14
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
stack-data==0.6.2
starlette==0.23.1
streamlit==1.21.0
streamlit-folium==0.13.0
sympy==1.11.1
systemd-python==234
tb-nightly==2.13.0a20230221
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==2.3.0
terminado==0.17.1
teroshdl==2.1.2
testresources==2.0.0
texttable==1.6.7
thrift==0.16.0
tifffile==2023.2.3
tiktoken==0.3.2
timm==0.6.7
tinycss2==1.2.1
tls-client==0.2
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
torch==1.13.1
torchdiffeq==0.2.3
torchmetrics==0.11.1
torchsde==0.2.5
torchvision==0.14.1
tornado==6.2
tox==4.4.5
tqdm==4.64.1
traceback2==1.4.0
traitlets==5.9.0
trampoline==0.1.2
transformers==4.25.1
trio==0.22.0
trio-websocket==0.10.2
trove-classifiers==2023.3.9
Twisted==23.8.0
types-PySide2==5.15.2.1.5
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.1
ufw==0.36
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==1.26.15
usb-creator==0.3.7
uvicorn==0.20.0
-e git+https://github.com/litex-hub/valentyusb.git@0b534ccfccfcdcb7a5db219743f0c0b20e5ec412#egg=valentyusb
validators==0.20.0
variables==0.0.1
vboxapi==1.0
virtualenv==20.24.1
vispy==0.14.0
vsg==3.14.0
vunit-hdl==4.6.0
wadllib==1.3.3
wasmtime==1.0.1
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
widgetsnbextension==4.0.6
wltrace==1.1.1
wrapt==1.11.2
wsproto==1.2.0
xdot==1.1
xkit==0.0.0
yapf==0.32.0
yarg==0.1.9
yarl==1.8.2
youtube-dl==2020.3.24
yowasp-yosys==0.25.post99.dev478
zipp==3.12.1
zope.interface==6.1
